<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="leftPolitician" class="org.elsys_bg.beans_hw.LeftPolitician"></bean>
    <bean id="rightPolitician" class="org.elsys_bg.beans_hw.RightPolitician"></bean>
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="rightPolitician"></property>
        <property name="targetMethod" value="talk"></property>
    </bean>
</beans>