<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="right" class="com.example.Politicians.Right" />
    <bean id="left"  class="com.example.Politicians.Left" />
    <bean id="Invoker" class="org.springframework.beans.factory.config.MethodInvokingBean" >
        <property name="targetObject" ref="right"/>
        <property name="targetMethod" value="promises"/>
    </bean>>
</beans>

