<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="politician" class="com.example.politician_beans.RightPolitician" />
    <bean id="beanInvoker" class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetObject" ref="politician" />
        <property name="targetMethod" value="speak" />
    </bean>
</beans>
